.heading-2 {
  font-weight: bold;
  ;
  font-size: 3.2rem;
}

.normal-text {
  font-size: 1.4rem;
  line-height: 1.5;
}

.main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #007bee;
  min-height: 41.5rem;
  position: relative;
  padding: 5rem 0;
  box-sizing: content-box;
}

.header-container--main-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  color: #fff;
  height: 100%;
  position: relative;
}

.nav-container--top-part {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

.logo-img {
  width: 10rem;
  height: 2.5rem;
}

.nav-container--menu {
  display: flex;
  list-style-type: none;
}

.menu--menu-item {
  font-size: 1.4rem;
  margin: 0 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.menu--menu-item:last-child {
  margin-right: 0;
}

.header-text-container {
  width: 50%;
  margin: 5rem 0 0 0;
}

.main-header-text {
  font-size: 6rem;
}

.call-to-action-button {
  border: none;
  padding: 2rem 5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 1rem;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.header-text-container>.call-to-action-button {
  margin-top: 5rem;
  background-color: #007bee;
  border: 0.2rem solid #fff;
  color: #fff;
  cursor: pointer;
}

.header-text-container>.call-to-action-button:hover {
  background-color: #fff;
  color: #007bee;
}

.first-section, .second-section, .third-section, .fourth-section, .fifth-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10rem 0 0 0;
}

.about-service-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.video-about-service {
  width: 50%;
  border-radius: 1rem;
}

.about-service-container--about-text-container {
  width: 45%;
}

.about-service-container--about-text-container>.heading-2 {
  margin-bottom: 2.5rem;
}

.about-service-container--about-text-container>.normal-text {
  color: #333333;
}

.second-section {
  background-color: #eeeeee67;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

.more-service-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.more-service-details-container>.heading-2 {
  margin-bottom: 5rem;
}

.service-details-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 2.5rem;
  list-style-type: none;
}

.service-detail-item {
  display: flex;
  align-items: center;
}

.service-detail-item--icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.2rem;
  height: 7.2rem;
  margin-right: 2rem;
}

.service-detail-item--icon {
  width: 7.2rem;
  height: 7.2rem;
}

.service-detail-item--text-container {
  width: 65%;
}

.service-detail--title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.service-detail--about {
  font-size: 1.2rem;
  line-height: 1.5;
}

.more-service-details-container>.call-to-action-button {
  background-color: #007bee;
  margin-top: 5rem;
  color: #fff;
  border: 0.1rem solid #007bee;
}

.more-service-details-container>.call-to-action-button:hover {
  color: #007bee;
  background-color: #fff;
  border: 0.1rem solid #007bee;
}

.quote-container {
  width: 70%;
}

.about-us-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us--img {
  width: 45%;
  border-radius: 1rem;
  border: 0.5rem solid #007bee;
}

.about-us-container--about-text-container {
  width: 50%;
  margin-top: -10rem;
}

.about-us-container--about-text-container > .heading-2 {
  margin-bottom: 2rem;
}

.about-us-container--about-text-container > .normal-text {
  line-height: 1.5;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.795);
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-container > .heading-2 {
  margin-bottom: 5rem;
}